.container {
    padding-top: 10px;
    width: 800px;
    background-color: whitesmoke;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: #63666A;
    
}

.navbar .nav > li > a:hover {
    color: #C8102E;
}


.form-horizontal .control-label {
    text-align: left;
    padding-left:20px;
}

h2{
	padding-left:20px;	
}
